.jumbo-img
{
  background-image: url("https://images.pexels.com/photos/164338/pexels-photo-164338.jpeg?auto=compress&cs=tinysrgb&h=750&w=1260");
  background-size: cover;
  background-repeat: no-repeat;
}
#site-name-header
{
  margin-bottom: -1px;
  border-style: none;
  text-transform: uppercase;
  text-size: 3rem;
  width: 100%;
}
#site-name-header a
{
  text-decoration: none;
  color: white;
}
#site-name-header h1
{
  font-weight: bold;
  color: white;
  font-family: Raleway;
  background-color: rgba(0,0,0,.5);
  padding: 0.5em;
  overflow: hidden;
  font-size: 35pt;
}
#navigation-buttons
{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #4a6d7c;
}
#navigation-buttons li
{
  
  display: inline;
  float: left;
  border-right:
}
#navigation-buttons li a
{
  display: block;
  padding: 14px 16px;
  text-align: center;
  text-decoration: none;
  color: white;
}
#navigation-buttons li a:hover
{
  background-color: #6599FF;
}
.active
{
  background-color: #68b684 ;
}
.content 
{
  padding: 16px;
}
.sticky 
{
  position: fixed;
  top: 0;
  width: 100%
}
.sticky + .content 
{
  padding-top: 60px;
}
#call-today
{
  float: right;
  font:
  top: 0;
  color:white;
  text-weight: 900;
  margin-top: 1.1%;
  margin-right: 5%;
}
#call-today a
{
  text-decoration: none;
  color: white;
}
#form-allpages input[type=text]
{
  text-align: center;
  padding-right: 5px;
}
#contact-left
{
  text-align: center;
}
#contact-left h3
{
  padding-bottom: 15px;
  border-bottom: 2px solid;
  margin-left: 30%;
  margin-right: 30%;
  padding-top: 50px;
}
.responsive-map
{
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
  padding-top: 2%;
}
.responsive-map iframe
{
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

